MAPS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6Ijg4OGViZTBmMWJkNTQ5ZTBhYzVkZTFhN2RlNzM0Yjg4IiwiaCI6Im11cm11cjY0In0=
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
ORS_BASE_URL=https://api.openrouteservice.org
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
